.Logo {
	float: left;
	position: relative;
}

.Logo > a {
	cursor: pointer;
	display: block;
	height: 42px;
	width: 200px;
}

.Logo > a:after {
	background: rgba(0,0,0,0.05);
	bottom: 0;
	content: '';
	display: block;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.Logo > a > img {
	display: block;
	width: 100%;
}