.App {
  text-align: left;
  font-size: 1rem;
  color: #111;
}

.App-logo {
  height: 42px;
}

.App-header {
  background-color: #eee;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}