.h2 {
	font-size: 1.5rem;
	font-weight: 700;
}
input[type="text"],
input[type="password"],
.btn {
	background: #fff;
	border: 1px solid #707880;
	border-radius: 4px;
	color: #707880;
	display: inline-block;
	font-weight: 700;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 5px 0;
	padding: 0 15px;
	transform: all 0.3s ease;
}

.btn {
	cursor: pointer;
	text-align: center;
}

.input[type="text"]:focus,
.input[type="password"]:focus,
.btn:hover {
	border-color: #930049;
	box-shadow: 0 0 20px rgba(0,0,0,0.3) inset;
	color: #930049;
}

.btn:focus {
	outline: none;
}

.table {
	display: table;
}

.tr {
	display: table-row;
}

.td {
	display: table-cell;
}



input[type="text"],
input[type="password"] {
	background: #fff;
	border: 1px solid #707880;
	border-radius: 4px;
	color: #707880;
	cursor: pointer;
	font-weight: 700;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 5px 0;
	padding: 0 15px;
	text-align: center;
	transform: all 0.3s ease;
}